<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <style>
        body { font-family: 'Poppins', sans-serif; text-align: center; padding-top: 100px; }
        form { background: #f9fbfc; padding: 30px; display: inline-block; border-radius: 10px; border: 1px solid #eee; }
        input { padding: 10px; margin: 10px; width: 80%; }
        button { background: #3498db; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; }
    </style>
</head>
<body>
    <h2>Doctor's Admin Login</h2>
    <form action="/login" method="POST">
        <input type="password" name="password" placeholder="Password Daliye" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>