<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.clinic_name}} - {{ data.specialty }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">{{data.clinic_logo_1}}<span>{{data.clinic_logo_2}}</span></div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#appointment" class="btn-nav">Book Now</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>

    <header class="hero">
        <div class="hero-content">
            <h1>{{data.hero_title_main}}<span>{{data.hero_title_highlight}}</span></h1>
            <p>{{data.name}} | {{data.specialty}} with {{data.experience}}</p>
            <div class="hero-btns">
                <a href="#appointment" class="btn-primary">Book Appointment</a>
                <a href="https://wa.me/91XXXXXXXXXX" class="btn-whatsapp">Chat on WhatsApp</a>
            </div>
        </div>
        <div class="hero-image">
            <img src="https://via.placeholder.com/400" alt="Doctor">
        </div>
    </header>

    <section id="services" class="services">
    <h2 class="section-title">Our <span>Specialized</span> Services</h2>
    <div class="services-container">
        {% for service in data.services %}
        <div class="service-card">
            <div class="icon">{{ service.icon }}</div>
            <h3>{{ service.title }}</h3>
            <p>{{ service.desc }}</p>
        </div>
        {% endfor %}
        </div>
    
    <section id="appointment" class="appointment-section">
    <h2>Book an <span>Appointment</span></h2>
    <form action="/book" method="POST" class="appointment-form">
        <input type="text" name="name" placeholder="Aapka Naam" required>
        <input type="tel" name="phone" placeholder="Phone Number" required>
        <input type="number" name="age" placeholder="Aapki Umar (Age)" min="1" max="120" required>
        <input type="date" name="date" required>
        <textarea name="message" placeholder="Koi message? (Bimari ya purani report)"></textarea>
        <button type="submit" class="btn-primary">Confirm Karein</button>
    </form>
</section>
        
</section>
</body>
</html>